<div class="container bg-success">
<%= form_with(model: rubro, local: true) do |form| %>
  <% if rubro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rubro.errors.count, "error") %> prohibited this rubro from being saved:</h2>

      <ul>
        <% rubro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
 <label>Nombre</label> <br>
    <%= form.text_field :nombre, :class => 'form-control' %>
</p>

<p>
 <label>Perecedero</label> <br>
    <%= form.check_box :perecedero %>
</p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>